
<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--   <link href="/webjars/bootsstrap/css/bootstrap.min.css"
        rel="stylesheet"
        type="text/css">  -->
</head>
<body>
<h1 th:text="'Create Post'"></h1>
<form th:action="@{/posts/new}" th:object="${postForm}" method="POST" enctype="utf8">
    <div>
        <p>title: <input type="text" th:field="*{title}"/></p>
    </div>
    <div>
        <textarea class="text-field" rows="15" cols="80" type="text" th:field="*{content}">
            Your next awesome post!
        </textarea>
    </div>  
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>